<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Mutual Fund X-Ray Tool</title>
  </head>
  <body style = "background-color : #2B2B52">
    {% block content %}
    <div class = "card">
      <div class = "card-header bg-dark">
        <h1 style = "font-family: 'Long Cang', cursive; color: white; text-align : center">Welcome to the Mutual Fund X-Ray Tool</h1>
      </div>
      <div class = "card-body bg-warning">
        <form action = "http://127.0.0.1:8000/success/" method = "POST">
          {% csrf_token %}
          <h3 style = "font-family : 'Indie Flower' , cursive;">Choose the Scheme</h3>
          <select name= "options">
            <option name = "600001">BOI AXA Tax Advantage Fund-Regular Plan- Growth</option>
            <option name = "600002">BOI AXA Tax Advantage Fund-Direct Plan- Growth</option>
            <option name = "600003">UTI - Long Term Equity Fund (Tax Saving) - Direct Plan - Growth Option</option>
            <option name = "600004">UTI - Long Term Equity Fund (Tax Saving) - Regular Plan - Growth Option</option>
            <option name = "600005">Mirae Asset Tax Saver Fund-Direct Plan -Growth</option>
            <option name = "600006">Mirae Asset Tax Saver Fund-Regular Plan-Growth</option>
            <option name = "600007">BNP Paribas Long Term Equity Fund - Direct Plan - Growth Option</option>
            <option name = "600008">BNP Paribas Long Term Equity Fund - Growth Option</option>
            <option name = "600009">HDFC  Long Term Advantage Fund - Growth Option</option>
            <option name = "600010">HDFC Long Term Advantage Fund -Direct Plan - Growth Option</option>
            <option name = "600011">Franklin India TAXSHIELD - Direct - Growth</option>
            <option name = "600012">Franklin India Taxshield-Growth</option>
            <option name = "600013">DSP Tax Saver Fund - Direct Plan - Growth</option>
            <option name = "600014">DSP Tax Saver Fund - Regular Plan - Growth</option>
            <option name = "600015">Edelweiss Long Term Equity Fund (Tax Savings) - Direct Plan-Growth Option</option>
            <option name = "600016">Edelweiss Long Term Equity Fund (Tax Savings) - Regular Plan - Growth Option</option>
            <option name = "600017">Kotak Tax Saver-Scheme-Growth</option>
            <option name = "600018">Kotak Tax Saver-Scheme-Growth - Direct</option>
            <option name = "600019">LIC  NOMURA MF Taxplans</option>
            <option name = "600020">LIC MF Tax Plan-Direct Plan-Growth</option>
            <option name = "600021">LIC MF Tax Plan-Regular Plan-Growth</option>
            <option name = "600022">Motilal Oswal Long Term Equity Fund (MOFLTE) - Direct Plan - Growth Option</option>
            <option name = "600023">Motilal Oswal Long Term Equity Fund (MOFLTE) - Regular Plan - Growth Option</option>
            <option name = "600024">Principal Personal Tax Saver Fund</option>
          <option name = "600025">Principal Personal Tax Saver Fund - Direct Plan</option>
          <option name = "600026">Principal Tax Savings Fund</option>
          <option name = "600027">Principal Tax Savings Fund - Direct Plan</option>
          <!--<option name = "600028">Nifty 100 Quality 30</option>-->
          <option name = "600029">ICICI Prudential Long Term Equity Fund (Tax Saving) - Direct Plan -  Growth</option>
          <option name = "600030">ICICI Prudential Long Term Equity Fund (Tax Saving) - Growth</option>
          <option name = "600031">Nippon India Tax Saver (ELSS) Fund-Growth Plan-Growth Option</option>
          <option name = "600032">Nippon India Tax Saver Fund - Direct Plan Growth Plan - Growth Option</option>
          <option name = "600033">Canara Robeco Equity Taxsaver Fund - Direct Plan - Growth Option</option>-->
          <option name = "600034">Canara Robeco Equity Taxsaver Fund - Regular Plan - Growth</option>
          <option name = "600035">HSBC Tax Saver Equity Fund - Growth</option>
          <option name = "600036">HSBC Tax Saver Equity Fund - Growth Direct</option>
          <option name = "600037">Invesco India Tax Plan - Direct Plan - Growth</option>
          <option name = "600038">Invesco India Tax Plan - Growth</option>
          <option name = "600039">Sundaram Diversified Equity</option>
          <option name = "600040">Sundaram Diversified Equity - A Long-term Tax Saver Fund - Direct Plan - Growth Option</option>
          <option name = "600041">IDBI Equity Advantage Fund - Growth Direct</option>
          <option name = "600042">IDBI Equity Advantage Fund - Growth Regular</option>
          <option name = "600043">PGIM India Long Term Equity Fund - Direct Plan - Growth Option</option>
          <option name = "600044">PGIM India Long Term Equity Fund - Regular Plan - Growth Optio</option>
          <option name = "600045">Aditya Birla Sun Life Tax Relief '96 - Growth - Direct Plan</option>
          <option name = "600046">Aditya Birla Sun Life Tax Relief '96 - Growth Option</option>
          <option name = "600047">Axis Long Term Equity Fund - Direct Plan - Growth Option</option>
          <option name = "600048">Axis Long Term Equity Fund - Regular Plan - Growth</option>
          <option name = "600049">IDFC Tax Advantage  (ELSS) Fund-Direct Plan-Growth</option>
          <option name = "600050">IDFC Tax Advantage  (ELSS) Fund-Regular Plan-Growth</option>
          <option name = "600051">L&T  Tax Advantage Fund-Direct Plan-Growth</option>
          <option name = "600052">L&T  Tax Advantage Fund-Regular Plan-Growth</option>
          <option name = "600053">Taurus Tax Shield- Regular Plan - Growth Option</option>
          <option name = "600054">Taurus Tax Shield- Regular Plan -Dividend Option</option>
          <option name = "600055">Union Long Term Equity Fund - Direct Plan - Growth Option</option>
          <option name = "600056">Union Long Term Equity Fund - Growth Option</option>
          <option name = "600057">SBI MAGNUM TAXGAIN SCHEME 1993 - DIRECT PLAN -GROWTH</option>
          <option name = "600058">SBI MAGNUM TAXGAIN SCHEME 1993 - REGULAR PLAN- GROWTH</option>
          <option name = "600059">Aditya Birla Sun Life Tax Plan - Direct Plan - Growth Option</option>
          <option name = "600060">Aditya Birla Sun Life Tax Plan - Regular Plan - Growth Option</option>
          <option>Tata India Tax Savings Fund-Dividend -Direct Plan</option>
          <option>Tata India Tax Savings Fund-Dividend- Regular Plan</option>
          <option>Tata India Tax Savings Fund-Growth-Direct Plan</option>
          <option>Tata India Tax Savings Fund-Growth-Regular Plan</option>
          <option>HDFC TaxSaver -Direct Plan - Growth Option</option>
          <option>HDFC TaxSaver-Growth Plan</option>
          <option>Sundaram Diversified Equity - A Long-term Tax Saver Fund - Direct Plan - Growth Option</option>
          </select>
          <h3 style = "font-family: 'Indie Flower', cursive;">Enter start date</h3>
          <input type  = "date" name = "str">
          <h3 style = "font-family: 'Indie Flower', cursive;">Enter end date</h3>
          <input type = "date" name = "end"><br>
        <a href = "http://127.0.0.1:8000/success/" download><button class = "btn-success">Download</button></a>
      </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
