<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
 <link href="https://fonts.googleapis.com/css?family=Long+Cang&display=swap" rel="stylesheet">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Mutual Fund Scheme Assessment</title>
  </head>
  <body style = "background-color : #2B2B52">
    {% block content %}
    <div class = "card">
      <div class = "card-header bg-dark">
        <h1 style = "font-family: 'Long Cang', cursive; color: white">Welcome to the MFSA Site</h1>
      </div>
      <div class = "card-body bg-warning">
        <form action = "http://127.0.0.1:8000/success/" method = "POST">
          {% csrf_token %}
          <h3 style = "font-family : 'Indie Flower' , cursive;">Choose the Scheme</h3>
          <select name= "options">
            <option name = "600001">NIFTY50</option>
            <option name = "600002">NIFTYNEXT50</option>
            <option name = "600003">NIFTY100</option>
            <option name = "600004">NIFTY200</option>
            <option name = "600005">NIFTY500</option>
            <option name = "600006">NIFTYMIDCAP 150</option>
            <option name = "600007">NIFTYMIDCAP 50</option>
            <option name = "600008">NIFTYMIDCAP 100</option>
            <option name = "600009">NIFTYSMALL CAP 250</option>
            <option name = "600010">NIFTYSMALL CAP 50</option>
            <option name = "600011">NIFTYSMALL CAP 100</option>
            <option name = "600012">NIFTYLARGEMIDCAP 250</option>
            <option name = "600013">NIFTYMIDSMALL CAP 400</option>
            <option name = "600014">NIFTY AUTO</option>
            <option name = "600015">NIFTY BANK</option>
            <option name = "600016">NIFTY FINANCIAL SERVICES</option>
            <option name = "600017">NIFTY FMCG</option>
            <option name = "600018">NIFTY IT</option>
            <option name = "600019">NIFTY MEDIA</option>
            <option name = "600020">NIFTY METAL</option>
            <option name = "600021">NIFTY PHARMA</option>
            <option name = "600022">NIFTY REALTY</option>
            <option name = "600023">NIFTY COMMODITIES</option>
            <option name = "600024">NIFTY ENERGY</option>
          <option name = "600025">NIFTY INFRA</option>
          <option name = "600026">NIFTY 100 EQUAL WEIGHTED</option>
          <option name = "600027">NIFTY 100 LOW VOLATILITY 30</option>
          <!--<option name = "600028">Nifty 100 Quality 30</option>-->
          <option name = "600029">NIFTY 200 QUALITY 30</option>
          <option name = "600030">Nifty 50 Equal Weight</option>
          <option name = "600031">NIFTY 50 Arbitrage</option>
          <!--<option name = "600032">Nifty 8-13 yr G-Sec Index</option>
          <option name = "600033">NIFTY 10 YR BENCHMARK G-SEC</option>-->
          <option name = "600034">NIFTY 1D Rate</option>
          <option name = "600035">NIFTY 50 Value 20</option>
          <option name = "600036">Nifty India Consumption</option>
          <option name = "600037">NIFTY MNC</option>
          <option name = "600038">Nifty PSU Bank</option>
          <option name = "600039">NIFTY Dividend Opportunities 50</option>
          <option name = "600040">Nifty Equity Savings
          <!--<option name = "600041">NIFTY COMPOSITE G-SEC</option>-->
          <option name = "600042">S & P BSE SENSEX</option>
          <option name = "600043">S&P BSE 500</option>
          <option name = "600044">S&P BSE 200</option>
          <option name = "600045">S&P BSE 100</option>
          <!--<option name = "600046">S&P BSE 250 Large Midcap 65:35</option>
          <option name = "600047">S&P BSE 250 Large MidCap</option>-->
          <option name = "600048">S&P BSE AllCap</option>
          <option name = "600049">BSE HEALTHCARE</option>
          <!--<option name = "600050">S&P BSE 250 Small Cap</option>-->
          <!--<option name = "600051">S&P BSE Bharat 22</option>-->
          <!--<option name = "600052">S&P BSE Enhanced Value</option>-->
          <option name = "600053">S&P BSE India Infrastructure Fund</option>
          <option name = "600054">S&P BSE Information Technology</option>
          <option name = "600055">S&P BSE Mid Cap</option>
          <!--<option name = "600056">S&P BSE Midcap Select</option>-->
          <option name = "600057">S&P BSE PSU</option>
          <option name = "600058">S&P BSE SENSEX NEXT 50</option>
          <option name = "600059">S&P BSE Small Cap</option>
          <option name = "600060">S&P BSE Teck </option>
          </select>
          <h3 style = "font-family: 'Indie Flower', cursive;">Enter start date</h3>
          <input type  = "date" name = "str">
          <h3 style = "font-family: 'Indie Flower', cursive;">Enter end date</h3>
          <input type = "date" name = "end"><br>
        <a href = "http://127.0.0.1:8000/success/" download><button class = "btn-success">Download</button></a>
      </form>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
